@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: white;
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(12, 0, 27);
}

.search{
  background-color: rgb(16, 0, 46);;
  padding: 10px;
  text-align: center;
}

.search input{
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  width: 60%;
  height: 40px;
  padding-left: 10px;
  font-size: 25px;
}

.search h2{
  color: white;
  margin: 5px;
  
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
img{
  width: 250px;
  height: 250px;
}

.corpo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cabeca{
  position: relative;
  top: 20px;
}
.topo{
  align-items: center;
  display: flex;
}
.topo h1{
  font-size: 40px;
}
.temps{
  display: flex;
}
.temps p{
  font-size: 30px;
  margin: 15px;
}
